body {
    background: rgb(251,159,159);
    background: radial-gradient(circle, rgb(125, 5, 5) 0%, rgb(24, 24, 24) 100%); 
}

.div-question {
    background: rgba(0, 0, 0, 0.276);
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

label {
    color: white;
    font-size: x-large;
    font-family: 'Trebuchet MS', sans-serif;
}

h1 {
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}

.div-center {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
}

hr {
    border-top: 8px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.caro-img {
    margin: 0 auto;
}

.carousel {
    width:640px;
    height:360px;
    margin: 0 auto;
}