div {
    background-color: black;
    width: 60%;
    padding-top: 10%;
    padding-bottom: 10%;
}

body {
    background-color: aliceblue;
}

label {
    color: black;
}

h1 {
    color: aliceblue;
}